.techTag {
    background-color: var(--Gray);
    color: var(--Title);
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.875rem;
    display: inline-block;
    margin: 2px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    

}

.techTag--real {
  background-color: #1f9d55; // зелёный
  color: #ffffff;
}


