@font-face {
    font-family: 'Italic';
    src: url('./../../public/fonts/AdwaitaSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Italic Mono';
    src: url('./../../public/fonts/AdwaitaMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./../../public/fonts/AdwaitaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Regular Mono';
    src: url('./../../public/fonts/AdwaitaMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('./../../public/fonts/AdwaitaMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bold Italic';
    src: url('./../../public/fonts/AdwaitaMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

