html.dark {
  --textColor: #d1d5db;
  --bgColor: #363a4f;
  --Plum: #b7bdf8;
  --Name: #a6da95;
  --Title: #cad3f5;
  --SubTitle: #8bd5ca;
  --BodyColor: #1e2030;
  --Black: #24273a;
  --Gray: #494d64;
  --PurpleLight: #b8c0e0;
  --Purple: #c6a0f6;
  --BgOpacity: #1e2030cc;
}

:root {

  

  --textColor: #4c4f69;        
  --bgColor: #ffffff;         
  --Plum: #060606;             
  --Name: #1e66f5;            
  --Title: #1e2030;           
  --SubTitle: #179299;         
  --BodyColor: #eff1f5;       
  --Black: #4c4f69;            
  --Gray: #8c8fa1;             
  --PurpleLight: #7c73e6;    
  --Purple: #8839ef;           
  --BgOpacity: #ffffffcc;     

}



