:root {
    --font-family: 'Adwaita', sans-serif;
    
}

body{
    font-family: var(--font-family);
    background-color: var(--BodyColor);
}

html, body {
    overflow-x: hidden;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1; /* main-content занимает всё пространство между Header и Footer */
}
