
.nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list {
  display: flex;
  gap: 15px;
}

@media (max-width: 1075px) {
  .nav {
    position: static;
    transform: none;
    justify-content: center;
    width: 100%;
  }

  
  
}

@media (max-width: 910px) {
  .nav {
    display: none;
  }

  
  
}



