.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;

}

.header {
}

.header--home {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header--small {
  height: auto;
  padding: 30px 0;
  margin-bottom: 50px;
}


.header__top {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 15px 0;
  background-color: var(--BgOpacity);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.header__top-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-container > *:last-child {
  flex-shrink: 0;     
}



@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

.header__main {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;

  .me {
    font-size: clamp(42px, 7vw, 70px);
    font-family: "Bold";
    color: var(--Title);
    margin-bottom: 16px;
    line-height: 1.2;

    
  }

  .me__span {
    color: var(--Name);
  }

  .me__desc {
    font-size: clamp(20px, 4vw, 28px);
    font-family: "Bold";
    color: var(--Title);
    margin-bottom: 35px;
    line-height: 1.5;
    max-width: 600px;
  }

  
  
  
}

.download {
  color: var(--Black);
  background-color: var(--Purple);
  font-family: "Bold";
  padding: 12px 24px;
  font-size: clamp(14px, 3vw, 20px);
  border-radius: 10px;
  transition: opacity 0.2s ease;
}

.download--light {
  background-color: #7287fd !important;
  color: #fff !important;
  transition: background 0.2s ease;
}


@media (hover: hover) and (pointer: fine) {
  .download:hover,
  .download--light:hover {
    opacity: 0.8 !important;
  }
}


@media (hover: none) and (pointer: coarse) {
  .download:hover,
  .download--light:hover {
    opacity: 1 !important;
    background-color: #7287fd !important;
  }
}


.tap-active {
  transform: scale(0.97);
  transition: all 0.2s ease;
}



.burger {
  width: 28px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;

  span {
    width: 100%;
    height: 3px;
    background: var(--Title);
    border-radius: 3px;
    transition: 0.3s;
  }
}


.burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 910px) {

  .burger {
    display: flex;
  }

  .header__top-container {
    justify-content: center;
    position: relative;
  }


  .burger {
    position: absolute;
    left: 20px;
  }


  .header__top-container > *:last-child {
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 383px) {
      .header__main .me {
    font-size: 34px;
  }

  .header__main .me__desc {
    font-size: 18px;
  }
    }











