.subtitle {
    color: var(--SubTitle);
    font-family: 'Bold';
    font-size: 50px;
    padding-bottom: 80px;
    text-align: center;


}

    @media (max-width: 1020px) {
        .subtitle {
            font-size: 30px;
        }
    }