.footer {
    background-color: var(--bgColor);
    padding: 15px 0;
    

}
.footer__text {
    color: var(--textColor);

    font-family: "Bold";
}
.footer__span {
     color: var(--textColor);

}
.footer__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}