
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8c8fa1; /* светлая тема */
    border-radius: 30px;
    transition: background-color 0.3s;
}


.slider .icon {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-color: #b7bdf8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 16px;
}

input:checked + .slider .icon {
    left: 32px;
    background-color: #eed49f;
}

html.dark .switch .slider {
    background-color: #555;
}

@media (max-width: 1024px) and (min-width: 911px) {
  .switch {
    width: 48px;   
    height: 24px;  
  }

  .slider {
    border-radius: 24px;
  }

  .slider .icon {
    width: 20px;   
    height: 20px;
    font-size: 14px;
    left: 2px;
  }

  input:checked + .slider .icon {
    left: 26px; 
  }
}

