

.Toastify__toast {
  background: #c6a0f6 !important; 
  color: #1e2030 !important;      
  border-radius: 12px 12px 0px 0px !important;
  font-family: "Bold", sans-serif !important;
  font-size: 16px !important;
  padding: 14px 18px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) !important;
}


.Toastify__toast-icon svg {
  fill: #1e2030 !important;
}


.Toastify__close-button > svg {
  fill: #1e2030 !important;
}


.Toastify__progress-bar {
  background: #a6da95 !important; 
  border-bottom: 12px;
}
